extends layout

block content
	#controls
		#progress

		#settings
			.left
				a#playPause
					i.fa.fa-pause
				a#sound
					i.fa.fa-volume-up
				#time
					h4 2:50 / 1:45:35  
			.right
				a#subtitle
					i.fa.fa-commenting-o
				a#fullScreen
					i.fa.fa-expand
