extends layout

block content
	video(src="/videos/The.Big.Bang.Theory.S08E02.HDTV.x264-LOL.mp4" autoplay)
	#controls
		#progress			
		#settings
			.left
				a#playPause
					i.fa.fa-pause
				a#volume
					i.fa.fa-volume-up
				#time
					h4 
						span.current
						span.duration   
			.right
				a#subtitle
					i.fa.fa-commenting-o
				a#fullScreen
					i.fa.fa-expand
		#volume-control
			.slider
